# 08-Sets

Let's introduce the Set. Another important data struture in Python!

Sets are an **unordered** collection of **unique** elements. We can construct them by using the set() function. Let's go ahead and make a set to see how it works:

## Constructing Sets

In [ ]:
# Let's create a set called 'x'

x = set()

In [ ]:
# Verifying the type
type(x)

In [ ]:
# And then let's add an element tho it

x.add(1)

In [ ]:
x

In [ ]:
x.add(2)

In [ ]:
x

Note the curly brackets. This does not indicate a dictionary! Although you can draw analogies as a set being a dictionary with only keys.

We know that a set has only unique entries. So what happens when we try to add something that is already in a set?

In [ ]:
# NOTICE how it won't place another 1 there. That's because a set is only concerned with unique elements! 

x.add(1)

In [ ]:
x

In [ ]:
# We can add -1, because -1 is different from 1

x.add(-1)

In [ ]:
x

In [ ]:
# We can eliminate an element
x.discard(2)

In [ ]:
x

We can cast a list with multiple repeated elements to a set to get the unique elements. For example:

In [ ]:
# Create a list 'mylist' with several REPEATED elements

mylist = [1,1,1,1,1,2,2,2,2,2,3,3,3,3,3]

In [ ]:
# Now let's transform the list 'mylist' into a set with the set() funtion

set(mylist)

You can also quickly create a set with just {}

In [ ]:
myset = {1,2,3}

In [ ]:
type(myset)

### <font color='green'>Task:</font> Create a set with 5 elements of float type
Create a set called 'a'

Tip: 
1. Use the set() method
2. Remenmer that float are decimal point numbers like 4.3 or 0.123

In [ ]:
# Your code here ...

## Mixed data types

In [ ]:
# set of integers
my_set = {1, 2, 3}
print(my_set)

# set of mixed datatypes
my_set = {1.0, "Hello", (1, 2, 3)}   # float, string and tuple
print(my_set)

## Mathematical operations
Set objects also support mathematical operations like union, intersection, difference, and symmetric difference

In [ ]:
a = {1,2,3,4,5,6}
b = {4,5,6,7,8,9,10}

In [ ]:
# Union: use the operator | or the method union()

a | b

In [ ]:
a.union(b)

In [ ]:
# Intersection: use the operator & or the method intersection()

a & b

In [ ]:
a.intersection(b)

In [ ]:
# Difference: use the operator - or the method difference()

a - b

In [ ]:
a.difference(b)

In [ ]:
b - a

In [ ]:
b.difference(a)

In [ ]:
# Symetric difference: use the operator ^ or the method symmetric_difference()
a ^ b

In [ ]:
a.symmetric_difference(b)

### <font color='green'>Task:</font> Operations on sets
In the next cell there are two sets with Rverdale TV show characters : 'A' and 'B'<br>
Do the following:
* add a new character into the set 'A'
* eliminate an character from ser 'B'
* print the intersection between 'A' and 'B'
* print the union between 'A' and 'B'

Tip: 
1. Use the add() method to add an element to set 'A'
2. Use the discard() method to eliminate an element to set 'B'
3. Use the print() function to print the intersection() and union() methods

In [ ]:
A = {'Josie', 'Archie', 'Jughead', 'Cheryl', 'Kevin'}
B = set(['Veronica', 'Betty', 'Cheryl', 'Fred', 'Melody', 'Josie'])

In [ ]:
# Your code here ...

## Membership

In [ ]:
2 in a

In [ ]:
# the same but using print() method

print(2 in a)

In [ ]:
'2' in a

In [ ]:
'Archie' in A or B

In [ ]:
8 in b.difference(a)

In [ ]:
2 not in a.difference(b)